<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings file="Settings.config">
    <add key="pandadoc:clientid" value="" />
    <add key="pandadoc:clientsecret" value="" />
    <add key="pandadoc:username" value="" />
    <add key="pandadoc:password" value="" />
    <add key="pandadoc:sampledocurl" value="https://s3.amazonaws.com/pd-static-content/public-docs/SamplePandaDocAPIDoc.pdf" />
  </appSettings>
</configuration>